doctype html
html
    head
        title= title
        link(rel='stylesheet', href='styles.css')
        script(src='hammer.min.js')
        script(src='jquery.min.js')
        script(src='lodash.min.js')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
    body

        #container
            ul#funky
                li
                    p Today
                li
                    p Asia Crisis
                li
                    p Tech Bubble Burst
                li
                    p Russian Crisis
                li
                    p Global Financial Crisis
                li
                    p Today
                li
                    p Asia Crisis
                li
                    p Tech Bubble Burst
                li
                    p Russian Crisis
                li
                    p Global Financial Crisis
                li
                    p Today
                li
                    p Asia Crisis
                li
                    p Tech Bubble Burst
                li
                    p Russian Crisis
                li
                    p Global Financial Crisis

            #shadow asdf
            #arc

        script(src='script.js')

