doctype html
html
    head
        title= 'Pete C say Merry Christmas and Happy New Year 2015!'
        link(rel='stylesheet', href='styles.css')
        script(src='hammer.min.js')
        script(src='jquery.min.js')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
    body
        #container
            #wrapper
                .text
                    h1
                        | 20
                        span 1
                        | 5
                    h2 Good year? Bad year?
                    hr
                    h3 Find out with PeteC's D20!
                #ray
                .scale
                    #shadow
                        #shapeD20.show-side1
                            .icosahedron
                                .pyramid-top
                                    .side1
                                        .innerFace_pyramid
                                            .triShape.triColor
                                    .side2
                                        .innerFace_pyramid
                                            .triShape.triColor
                                    .side3
                                        .innerFace_pyramid
                                            .triShape.triColor
                                    .side4
                                        .innerFace_pyramid
                                            .triShape.triColor
                                    .side5
                                        .innerFace_pyramid
                                            .triShape.triColor
                                .pyramid-bottom
                                    .side16
                                        .innerFace_pyramid
                                            .triShape.triColor
                                    .side17
                                        .innerFace_pyramid
                                            .triShape.triColor
                                    .side18
                                        .innerFace_pyramid
                                            .triShape.triColor
                                    .side19
                                        .innerFace_pyramid
                                            .triShape.triColor
                                    .side20
                                        .innerFace_pyramid
                                            .triShape.triColor
                                .middle
                                    .middle__half
                                        .side6
                                            .innerFace_middle
                                                .triShape.triColor
                                        .side8
                                            .innerFace_middle
                                                .triShape.triColor
                                        .side10
                                            .innerFace_middle
                                                .triShape.triColor
                                        .side12
                                            .innerFace_middle
                                                .triShape.triColor
                                        .side14
                                            .innerFace_middle
                                                .triShape.triColor
                                    .middle__half
                                        .side7
                                            .innerFace_middle
                                                .triShape.triColor
                                        .side9
                                            .innerFace_middle
                                                .triShape.triColor
                                        .side11
                                            .innerFace_middle
                                                .triShape.triColor
                                        .side13
                                            .innerFace_middle
                                                .triShape.triColor
                                        .side15
                                            .innerFace_middle
                                                .triShape.triColor
                aside
                    p pan to inspect, swipe-up to throw
            #message
                h3
                    | Woo!
                    br
                    | You rolled a great year multiplyer!!
                h4 Happy New Year!
                img(src="yay.gif")
                p Hello my name is Pete and this is A six-volume original video animation adaptation of the later half of the series' third story arc, Stardust Crusaders, was released from 1993 to 1994 by studio A.P.P.P. Six years later, they produced a seven-volume series adapting the arc's first hal
                p
                    | Cheers,
                    br
                    | Pete C
                p.small *Remember, a Multiplyer multiply nothing is... nothing. Make sure your 2015 is great first to enjoy the stat boost!


        script(src='script.js')