doctype html
html
    head
        title= 'Pete C say Merry Christmas and Happy New Year 2015!'
        link(rel='stylesheet', href='styles.css')
        script(src='hammer.min.js')
        script(src='jquery.min.js')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
    body
        #container
            #shadow
                #shapeD20.show-side1
                    .icosahedron
                        .pyramid-top
                            .side1
                                .innerFace_pyramid
                                    .triShape.triColor
                            .side2
                                .innerFace_pyramid
                                    .triShape.triColor
                            .side3
                                .innerFace_pyramid
                                    .triShape.triColor
                            .side4
                                .innerFace_pyramid
                                    .triShape.triColor
                            .side5
                                .innerFace_pyramid
                                    .triShape.triColor
                        .pyramid-bottom
                            .side16
                                .innerFace_pyramid
                                    .triShape.triColor
                            .side17
                                .innerFace_pyramid
                                    .triShape.triColor
                            .side18
                                .innerFace_pyramid
                                    .triShape.triColor
                            .side19
                                .innerFace_pyramid
                                    .triShape.triColor
                            .side20
                                .innerFace_pyramid
                                    .triShape.triColor
                        .middle
                            .middle__half
                                .side6
                                    .innerFace_middle
                                        .triShape.triColor
                                .side8
                                    .innerFace_middle
                                        .triShape.triColor
                                .side10
                                    .innerFace_middle
                                        .triShape.triColor
                                .side12
                                    .innerFace_middle
                                        .triShape.triColor
                                .side14
                                    .innerFace_middle
                                        .triShape.triColor
                            .middle__half
                                .side7
                                    .innerFace_middle
                                        .triShape.triColor
                                .side9
                                    .innerFace_middle
                                        .triShape.triColor
                                .side11
                                    .innerFace_middle
                                        .triShape.triColor
                                .side13
                                    .innerFace_middle
                                        .triShape.triColor
                                .side15
                                    .innerFace_middle
                                        .triShape.triColor


        script(src='script.js')