doctype html
html
    head
        title= title
        link(rel='stylesheet', href='styles.css')
        script(src='hammer.min.js')
        script(src='jquery.min.js')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
    body


        ul#funky
            li Today
            li Asia Crisis
            li Tech Bubble Burst
            li Russian Crisis
            li Global Financial Crisis
            li Russian Crisis
            li Global Financial Crisis
            li Russian Crisis
            li Global Financial Crisis
            li Russian Crisis
            li Global Financial Crisis
            li Russian Crisis
            li Global Financial Crisis
            li Russian Crisis
            li Global Financial Crisis
        #arc

        script(src='script.js')


