doctype html
html
    head
        title= title
        link(rel='stylesheet', href='styles.css')
        //link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,400')
        script(src='d3.min.js')
        script(src='d3-masonry.js')
        script(src='jquery-2.1.1.min.js')
        script(src='lodash.js')

        //meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        //mata(content="IE=edge" http-equiv="X-UA-Compatible")
    body

        p#chart

        button#sort-reset reset
        button#sort-value Value
        button#sort-color Performance
        input#slider(type="range", min="350", max="2000", value="350")

        #wall


        script(src='script.js')


