//div.bar
//  background: pink
//  width: 20px
//  height: 75px
//  display: inline-block
//  border: 1px solid white

$green-a: #00aa3a
$green-b: #178939
$green-c: #2d6439
$grey: #45433b
$light-grey: #b3b3b3
$red-c: #722d25
$red-b: #a61e12
$red-a: #d60b04
$gold: #aa9966


#wall
  display: flex
  -webkit-flex-direction: row
  -webkit-flex-wrap: wrap
  -webkit-justify-content: flex-start
  -webkit-align-items: flex-start
  -webkit-align-content: flex-start

  background: #eee
  //width: 100%
  .brick
    height: 200px
    border: 1px solid white
    box-sizing: border-box
    font-size: 20px
    -webkit-transition: all 0.4s ease
    overflow: hidden
    color: white
    font-family: sans-serif
    font-weight: bold
    //min-width: 50px

    &.green-a
      background-color: $green-a
    &.green-b
      background-color: $green-b
    &.green-c
      background-color: $green-c
    &.no-data
      background-color: $grey
    &.light-grey
      background-color: $light-grey
    &.red-c
      background-color: $red-c
    &.red-b
      background-color: $red-b
    &.red-a
      background-color: $red-a
    &.gold
      background-color: $gold



