#wall {
  display: flex;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -webkit-align-items: flex-start;
  -webkit-align-content: flex-start;
  background: #eee; }
  #wall .brick {
    width: 200px;
    border: 1px solid white;
    box-sizing: border-box;
    font-size: 20px;
    -webkit-transition: all 0.4s ease;
    overflow: hidden;
    color: white;
    font-family: sans-serif;
    font-weight: bold; }
    #wall .brick.green-a {
      background-color: #00aa3a; }
    #wall .brick.green-b {
      background-color: #178939; }
    #wall .brick.green-c {
      background-color: #2d6439; }
    #wall .brick.no-data {
      background-color: #45433b; }
    #wall .brick.light-grey {
      background-color: #b3b3b3; }
    #wall .brick.red-c {
      background-color: #722d25; }
    #wall .brick.red-b {
      background-color: #a61e12; }
    #wall .brick.red-a {
      background-color: #d60b04; }
    #wall .brick.gold {
      background-color: #aa9966; }
