doctype html
html
    head
        title= 'Pete C say Merry Christmas and Happy New Year 2015!'
        link(rel='stylesheet', href='styles.css')
        //script(src='hammer.min.js')
        script(src='jquery.min.js')
        meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1, maximum-scale=1')
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
    body
        #timestream
            .month
                h3
                    | Hey, it's...
                    span 2015
                p.continue Continue
            .month
                h2 January
            .month
                h2 Febuary
            .month
                h2 March
            .month
                h2 April
            .month
                h2 May
            .month
                h2 June
            .month
                h2 July
            .month
                h2 August
            .month
                h2 September
            .month
                h2 October
            .month
                h2 November
            .month
                h2 December
            .month
                h1
                    | Happy New Year
                    span 2016
                .textbox
                    p Hey Ange,
                    p Thank you very much for putting up with me for 2015 :) Thanks for that thing again. Really saved my life. Looking forward to your support in 2016!
                    p
                        | Cheers,
                        br
                        | Pete
        #pete
            .frame
                #before
                    img(src="img/before.png")
                #timemachine
                    img(src="img/timemachine.png")
                    img.light(src="img/light.gif")
                #after
                    img(src="img/after.png")

        script(src='script.js')
















