!!!
%html
  - if !params[:name].nil?
    - @person = @wishes.select { |wish| wish[:url] == params[:name] }
  %head
    %title Hey #{@person[0][:name]}, Happy New Year 2016 from Pete C!
    %script(src="js/jquery.min.js")
    %meta{:name => 'viewport', :content => 'width=device-width, height=device-height, initial-scale=1, maximum-scale=1'}
    %link{:href => 'css/styles.css', :rel => 'stylesheet', :type => 'text/css'}
  %body

    #timestream
      .month
        %h3
          Hey, it's...
          %span 2015
        %p.continue Continue
      .month
        %h2 January
      .month
        %h2 Febuary
      .month
        %h2 March
      .month
        %h2 April
      .month
        %h2 May
      .month
        %h2 June
      .month
        %h2 July
      .month
        %h2 August
      .month
        %h2 September
      .month
        %h2 October
      .month
        %h2 November
      .month
        %h2 December
      .month
        %h1
          Happy New Year
          %span 2016
        .textbox
          %p Hey #{@person[0][:name]},
          - if !@person[0][:word].nil?
            %p #{@person[0][:word]}
          - else
            %p Thank you very much for putting up with me in 2015 :) Have an awesome year and looking forward to your support in 2016!
          %p
            Cheers,
            %br
            Pete
      #pete
        .frame
          #before
            %img(src="img/before.png")
          #timemachine
            %img(src="img/timemachine.png")
            %img.light(src="img/light.gif")
          #after
            %img(src="img/after.png")




    %script(src="js/script.js")