* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  background: #707070;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}
#pete,
#timestream {
  margin: 0;
  padding: 0;
}
#pete {
  display: block;
  width: 100%;
  height: 300px;
  position: fixed;
  bottom: 5%;
  text-align: center;
}
#pete .frame {
  width: 300px;
  height: 300px;
  display: inline-block;
  position: relative;
}
#pete #before,
#pete #timemachine,
#pete #after {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}
#pete #before img,
#pete #timemachine img,
#pete #after img {
  width: 300px;
}
#pete #before img.light,
#pete #timemachine img.light,
#pete #after img.light {
  width: 64px;
  position: absolute;
  top: 5px;
  left: 74px;
}
#pete #before {
  bottom: 10%;
}
#pete #timemachine {
  opacity: 0;
}
#pete #after {
  opacity: 0;
}
#pete.timetravel #before {
  opacity: 0;
}
#pete.timetravel #timemachine {
  opacity: 1;
  -webkit-animation: travel 2s infinite both ease;
          animation: travel 2s infinite both ease;
}
#pete.timetravel #after {
  opacity: 0;
}
#pete.after #before {
  opacity: 0;
}
#pete.after #timemachine {
  opacity: 0;
}
#pete.after #after {
  opacity: 1;
}
#timestream {
  width: 100%;
  height: 100%;
  display: block;
}
#timestream .month {
  height: 95%;
  display: block;
  background: transparent none no-repeat center center;
  background-size: cover;
  position: relative;
}
#timestream .month h2 {
  font-weight: bold;
  color: #fff;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 50px;
  font-size: 12vw;
  letter-spacing: -1vw;
}
#timestream .month h1,
#timestream .month h3 {
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-size: 8vw;
  padding-top: 5%;
  margin: 0 0 2% 0;
}
@media (min-width: 992px) {
  #timestream .month h1,
  #timestream .month h3 {
    font-size: 50px;
    font-size: 8vh;
  }
}
#timestream .month h1 span,
#timestream .month h3 span {
  display: block;
  font-size: 50px;
  font-size: 16vw;
  margin-top: -2vw;
}
@media (min-width: 992px) {
  #timestream .month h1 span,
  #timestream .month h3 span {
    font-size: 80px;
    font-size: 16vh;
  }
}
#timestream .month .continue {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  background: transparent url("/img/arrow.png") no-repeat bottom center;
  width: 100px;
  height: 90px;
}
#timestream .month:nth-child(2) {
  background-image: url("/img/0_00121.jpg");
}
@media (min-width: 992px) {
  #timestream .month:nth-child(2) {
    background-image: url("/img/hd/0_00121.jpg");
  }
}
#timestream .month:nth-child(3) {
  background-image: url("/img/0_00112.jpg");
}
@media (min-width: 992px) {
  #timestream .month:nth-child(3) {
    background-image: url("/img/hd/0_00112.jpg");
  }
}
#timestream .month:nth-child(4) {
  background-image: url("/img/0_00103.jpg");
}
@media (min-width: 992px) {
  #timestream .month:nth-child(4) {
    background-image: url("/img/hd/0_00103.jpg");
  }
}
#timestream .month:nth-child(5) {
  background-image: url("/img/0_00094.jpg");
}
@media (min-width: 992px) {
  #timestream .month:nth-child(5) {
    background-image: url("/img/hd/0_00094.jpg");
  }
}
#timestream .month:nth-child(6) {
  background-image: url("/img/0_00085.jpg");
}
@media (min-width: 992px) {
  #timestream .month:nth-child(6) {
    background-image: url("/img/hd/0_00085.jpg");
  }
}
#timestream .month:nth-child(7) {
  background-image: url("/img/0_00076.jpg");
}
@media (min-width: 992px) {
  #timestream .month:nth-child(7) {
    background-image: url("/img/hd/0_00076.jpg");
  }
}
#timestream .month:nth-child(8) {
  background-image: url("/img/0_00067.jpg");
}
@media (min-width: 992px) {
  #timestream .month:nth-child(8) {
    background-image: url("/img/hd/0_00067.jpg");
  }
}
#timestream .month:nth-child(9) {
  background-image: url("/img/0_00058.jpg");
}
@media (min-width: 992px) {
  #timestream .month:nth-child(9) {
    background-image: url("/img/hd/0_00058.jpg");
  }
}
#timestream .month:nth-child(10) {
  background-image: url("/img/0_00049.jpg");
}
@media (min-width: 992px) {
  #timestream .month:nth-child(10) {
    background-image: url("/img/hd/0_00049.jpg");
  }
}
#timestream .month:nth-child(11) {
  background-image: url("/img/0_000310.jpg");
}
@media (min-width: 992px) {
  #timestream .month:nth-child(11) {
    background-image: url("/img/hd/0_000310.jpg");
  }
}
#timestream .month:nth-child(12) {
  background-image: url("/img/0_000211.jpg");
}
@media (min-width: 992px) {
  #timestream .month:nth-child(12) {
    background-image: url("/img/hd/0_000211.jpg");
  }
}
#timestream .month:nth-child(13) {
  background-image: url("/img/0_000112.jpg");
}
@media (min-width: 992px) {
  #timestream .month:nth-child(13) {
    background-image: url("/img/hd/0_000112.jpg");
  }
}
#timestream .month:nth-child(14) {
  height: 100%;
  background-color: #ec1c30;
  position: relative;
}
#timestream .month:nth-child(14) .textbox {
  position: absolute;
  bottom: 32%;
  border-radius: 10px;
  background: #fff;
  margin: 0 10%;
  padding: 2% 5%;
  font-size: 16px;
}
@media (min-width: 992px) {
  #timestream .month:nth-child(14) .textbox {
    bottom: 20%;
    font-size: 20px;
    margin: 0 20%;
  }
}
@-webkit-keyframes travel {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  25% {
    -webkit-transform: translateY(-10px) rotate(2deg);
            transform: translateY(-10px) rotate(2deg);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-10px) rotate(-2deg);
            transform: translateY(-10px) rotate(-2deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
}
@keyframes travel {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  25% {
    -webkit-transform: translateY(-10px) rotate(2deg);
            transform: translateY(-10px) rotate(2deg);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-10px) rotate(-2deg);
            transform: translateY(-10px) rotate(-2deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
}
